<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2021.2.0" targetFramework="net45" />
  <package id="KsWare.Presentation.Converters" version="0.2.0" targetFramework="net45" />
  <package id="KsWare.Presentation.Interfaces" version="0.2.1" targetFramework="net45" />
  <package id="KsWare.Presentation.ViewFramework.Common" version="0.2.0" targetFramework="net45" />
  <package id="System.ComponentModel.Composition" version="5.0.0" targetFramework="net45" />
</packages>